<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>English by Einar</title>

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- ngCordova -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- lodash library -->
    <script src="lib/lodash/lodash.min.js"></script>

    <!-- your app's js -->
    <script src="js/init_libraries.js"></script>
    <script src="js/app.js"></script>
    <script src="js/event_bus.factory.js"></script>
    <script src="js/concept.factory.js"></script>
    <script src="js/concept_builder.service.js"></script>
    <script src="js/concept_repository.factory.js"></script>
    <script src="js/concept_repository_loader.service.js"></script>
    <script src="js/concept_card.controller.js"></script>
    <script src="js/concept_media.factory.js"></script>
</head>

<body ng-app="EnglishByEinar">

      <div class="list card" ng-controller="ConceptCardCtrl as card">

          <!-- <div class="item item-avatar"> -->
          <!--     <img ng-src="{{card.concept.thumbnail.url}}" /> -->
          <!--     <h2>{{card.concept.thumbnail.title}}</h2> -->
          <!--     <p>{{card.concept.thumbnail.description}}</p> -->
          <!-- </div> -->

          <div class="item item-divider">
              {{card.concept.thumbnail.title}}
          </div>

          <div class="item item-body">
              <img class="full-image" ng-src="{{card.concept.image.url}}" />
              <p>{{card.concept.image.description}}</p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#" ng-click="card.play()">
                  <i class="icon ion-play"></i>
                  Play
              </a>
              <a class="tab-item" href="#" ng-click="card.next()">
                  <i class="icon ion-skip-forward"></i>
                  Next
              </a>
              <a class="tab-item" href="#">
                  <i class="icon ion-help-circled"></i>
                  Help
              </a>
          </div>

    </div>

</body>
</html>
