<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>English by Einar</title>

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- ngCordova -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/concept.factory.js"></script>
    <script src="js/concept_builder.service.js"></script>
    <script src="js/concept_repository.factory.js"></script>
    <script src="js/concept_repository_loader.service.js"></script>
</head>

<body ng-app="EnglishByEinar">

      <div class="list card" ng-controller="ConceptCardCtrl">

          <div class="item item-avatar">
              <img ng-src="{{word.thumbnail.url}}" />
              <h2>{{word.thumbnail.title}}</h2>
              <p>{{word.thumbnail.description}}</p>
          </div>

          <div class="item item-body">
              <img class="full-image" ng-src="{{word.image.url}}" />
              <p>{{word.image.description}}</p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#" ng-click="play(word.audio.url)">
                  <i class="icon ion-play"></i>
                  Play
              </a>
              <a class="tab-item" href="#" ng-click="next()">
                  <i class="icon ion-skip-forward"></i>
                  Next
              </a>
              <a class="tab-item" href="#">
                  <i class="icon ion-help-circled"></i>
                  Help
              </a>
          </div>

    </div>

</body>
</html>
